numpy==1.26.4
fastapi
uvicorn
ultralytics
opencv-python-headless
pillow
easyocr
requests
python-multipart
python-dotenv
deepface==0.0.93
retina-face==0.0.17
tensorflow==2.15.1
keras==2.15.0
