# fastapi
# uvicorn
# ultralytics
# opencv-python-headless
# torch
# torchvision
# numpy
# pillow
# python-multipart


fastapi
uvicorn
ultralytics
opencv-python-headless
numpy
pillow
python-multipart
torch
torchvision